@model FinPort.Models.PortfolioPosition
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Buttons {
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a asp-action="Edit" asp-controller="Portfolios" asp-route-id="@Model.PortfolioId" class="btn btn-primary">Cancel</a>
    </form>
}

<div class="alert alert-danger">Are you sure you want to delete this?</div>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ISIN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ISIN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastPriceDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastPriceDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Portfolio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Portfolio.Name)
        </dd>
    </dl>
</div>
